@charset "UTF-8";

html {
  font-size: 62.5%;
}
*, *::after, *::before {
  box-sizing: border-box;
}
body {
  font-size: 1.4rem;
  text-align: center;
  color: #333;
  background: url('../images/bg.jpg') fixed left bottom;
  background-size: cover;
  font-family: 'Candal', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background-color: #f0f7f3;
}
/* ここまで初期設定 */
.header {
  padding: 120px 30px 80px;
}
.site-title-sub {
  font-size: 3.2rem;
  margin-bottom: 80px;
  letter-spacing: 1px;
}
.site-title {
  font-size: 6.4rem;
  margin-bottom: 80px;
  letter-spacing: 2px;
  display: inline-block;
  position: relative;
}
.site-title::before,
.site-title::after {
  content: '';
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #333;
}
.site-title::after {
  bottom: -10px;
}
.site-description {
  font-size: 2.5rem;
  letter-spacing: 1px;
}
.buttons {
  margin-top: 80px;
}
.button {
  display: inline-block;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #d5e6dd;
  margin: 30px 60px;
  width: 200px;
  text-decoration: none;
  font-size: 2.3rem;
  color: #355242;
}
.button:hover {
  opacity: 0.8;
  box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.7);
}
.arrow {
  margin: 80px;
  width: 100px;
  height: 80px;
  font-size: 6rem;
  animation: Flash1 1s infinite;
}
@keyframes Flash1 {
  50%{
    opacity: 0;
  }
}
/* ここまでheader */
.about {
  background-color: #333;
  color: #fff;
  width: 100%;
}
.heading {
  padding: 80px;
  font-size: 3.3rem;
  letter-spacing: 2px;
}
.heading::before,
.heading::after {
  content: '';
  display: inline-block;
  height: 2px;
  width: 140px;
  margin: 0 20px;
  vertical-align: middle;
  background-color: #fff;
}
.about-text {
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 2px;
  padding-bottom: 40px;
}
.about-text:last-child {
  padding-bottom: 80px;
}
.arrow:nth-of-type(even) {
  color: #fff;
}
/* ここまでabout */
